<% provide :head_tags do %>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMapEcclesia(<%=@ecclesiumToJson%>, <%=@contactsToJson%>)
    });
    </script>
<% end %>

<div class="container">
  <div class="row mt-5">
    <div class="col-12">

      <div class="row mt-2 mb-3">
        <div class="col-12 d-flex align-items-center">
          <div class="profile-pic"  style ="background: url(<%= avatar_url(@ecclesium) %>);"></div>
          <h1 class="ml-5">
            <%= @ecclesium.name %>
          </h1>
        </div>
      </div>
      </div>
      <div class="col-7">



      <div class="row">
        <div class="col-12">
          <div class="list-group list-group-flush">
            <div class="row list-group-item d-flex">
              <div class="col-3 text-muted text-right">
                Address:
              </div>
              <div class="col-9">
                <%= @ecclesium.postal_address || "-"  %>
              </div>
            </div>
            <div class="row list-group-item d-flex">
              <div class="col-3 text-muted text-right">
                Rec Brother:
              </div>
              <div class="col-9">
                <% if @recording_brother.first_name =="none" %>
                <%= @recording_brother.first_name %>
                <% else %>
                <%= link_to @recording_brother.full_name, contact_path(@recording_brother) %>
                <% end %>
              </div>
            </div>
            <div class="row list-group-item d-flex">
              <div class="col-3 text-muted text-right">
                Coordinates:
              </div>
              <div class="col-9">
                <%= @ecclesium.latitude %>, <%= @ecclesium.longitude %>
              </div>
            </div>
            <div class="row list-group-item d-flex">
              <div class="col-3 text-muted text-right">
                Notes:
              </div>
              <div class="col-9">
                <%= @ecclesium.notes || "-" %>
              </div>
            </div>
            <div class="row list-group-item d-flex">
              <div class="col-3 ">

              </div>
              <div class="col-9">
                <div class="row">
                  <%= button_to "Edit", edit_ecclesium_path(@ecclesium), method: :get, class: "mr-3 btn btn-secondary"%>
                  <%= button_to "Delete", @ecclesium, method: :delete, class: "btn btn-danger" %>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-5">
      <div id="map" class = "ml-4"></div>
    </div>

  </div>
</div>
