<% provide :head_tags do %>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMapEcclesia(<%=@ecclesiumToJson%>, <%=@contactsToJson%>)
    });
    </script>
<% end %>

<div class="container">
  <div class="row mt-5">
    <div class="col-12">

      <div class="row mt-2 mb-3">
        <div class="col-12 d-flex align-items-center">
          <div class="profile-pic"  style ="background: url(<%= avatar_url(@ecclesium) %>);"></div>
          <h1 class="ml-5">
            <%= @ecclesium.name %>
          </h1>
        </div>
      </div>
      </div>
      <div class="col-7">



      <div class="row">
        <div class="col-12">
          <div class="list-group list-group-flush">
            <div class="row list-group-item d-flex">
              <div class="col-3 text-muted text-right">
                Address:
              </div>
              <div class="col-9">
                <%= display_ecclesium_postal_address(@ecclesium)  %>
              </div>
            </div>
            <div class="row list-group-item d-flex">
              <div class="col-3 text-muted text-right">
                Rec Brother:
              </div>
              <div class="col-9">
                <% if @recording_brother.first_name =="none" %>
                <%= @recording_brother.first_name %>
                <% else %>
                <%= link_to @recording_brother.full_name, contact_path(@recording_brother) %>
                <% end %>
              </div>
            </div>
            <div class="row list-group-item d-flex">
              <div class="col-3 text-muted text-right">
                Coordinates:
              </div>
              <div class="col-9">
                <%= display_ecclesium_coordinates(@ecclesium)%>
              </div>
            </div>
            <div class="row list-group-item d-flex">
              <div class="col-3 text-muted text-right">
                Notes:
              </div>
              <div class="col-9">
                <%=  display_ecclesium_notes(@ecclesium)%>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-5">
      <div id="map" class = "ml-4"></div>
    </div>

  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="row">


      <h2>Members</h2>
      </div>
      <div class="list-group list-group-flush"">

        <%@contacts.each do |contact| %>
        <div class="row list-group-item d-flex">
          <div class="col-3  text-right">
            <%=link_to contact.full_name, contact %>
          </div>
          <div class="col-9">
            <%= display_contact_phone_number(contact)  %>
            <%= display_contact_second_phone(contact)  %>
            <%= display_contact_third_phone(contact)  %>
          </div>
        </div>

        <% end %>
      </div>

    </div>

  </div>



</div>
