<% provide :head_tags do %>
<meta name='turbolinks-visit-control' content='reload'>
<script>
  document.addEventListener("DOMContentLoaded", initMapContactEdit);
</script>
<% end %>
<%= form_for contact do |f| %>
<div class="container">

  <div class="row">
    <div class="form-group col">
      <%= f.label :first_name %>:
      <%= f.text_field :first_name %>
    </div>
    <div class="form-group col">
      <%= f.label :alias %>:
      <%= f.text_field :alias %>
    </div>
    <div class="form-group col">
      <%= f.label :last_name %>:
      <%= f.text_field :last_name %>
    </div>
  </div>

  <div class="row">
    <div id="phone"  class="form-group col ">
      <%= f.label :phone_description, "Phone type" %>:
      <%= f.text_field :phone_description, list: "descriptions" %>
 <datalist id="descriptions">
   <%phone_descriptions.each do |description| %>
   <option value="<%= description %>">
     <% end %>

 </datalist>
    </div>
    <div class="form-group col">
      <%= f.label :phone_number %>:
      <%= f.text_field :phone_number %>
    </div>
  </div>

  <div class="row">
    <div  id="phone" class="form-group col">
      <%= f.label :second_phone_description, "Phone type" %>:
      <%= f.text_field :second_phone_description, list: "descriptions" %>
    </div>
    <div class="form-group col">
      <%= f.label :second_phone %>:
      <%= f.text_field :second_phone %>
    </div>
  </div>

  <div class="row">
    <div  id="phone" class="form-group col">
      <%= f.label :third_phone_description, "Phone type" %>:
      <%= f.text_field :third_phone_description, list: "descriptions" %>
    </div>
    <div class="form-group col">
      <%= f.label :third_phone %>:
      <%= f.text_field :third_phone %>
    </div>
  </div>



  <div class="row">
    <div class="form-group col">
      <%= f.label :email_address %>:
      <%= f.text_field :email_address %>
    </div>
    <div class="form-group col">
      <%= f.label :postal_address %>:
      <%= f.text_field :postal_address %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <%= f.label :latitude %>:
      <%= f.number_field :latitude, id: 'contact_latitude' %>
    </div>
    <div class="form-group col">
      <%= f.label :longitude %>:
      <%= f.number_field :longitude, id: 'contact_longitude' %>
    </div>
      </div>
      <div class="row">
        <div class="form-group col">
            <%= f.label :baptism_status, "Baptized" %>:<br />
          <%= f.radio_button :baptism_status, true %> yes<br />
             <%= f.radio_button :baptism_status, false %> no <br />

        </div>
        <div class="form-group col">
            <%= f.label :gender, "Gender" %>:<br />
          <%= f.radio_button :gender, "Male" %> Male<br />
             <%= f.radio_button :gender, "Female" %> Female<br />

        </div>
      </div>

      <div class="row">
        <div class="form-group col">
          <%= f.label :birth_date %>:
          <%= f.date_field :birth_date %>
        </div>
        <div class="form-group col">
          <%= f.label :ecclesium_id, "Ecclesia" %>:
        <%=collection_select(:contact, :ecclesium_id, ecclesia, :id, :name, prompt: true) %>

        </div>

          </div>
          <div class="row">
            <div class="form-group col">
                <%= f.label :avatar, "Profile Pic" %>
                <%= f.file_field :avatar %>
            </div>
          </div>
          <div class="row">
            <div class="form-group col">
                <%= f.label :notes, "Notes: " %>
                <%= f.text_area :notes, class: 'notes' %>
            </div>
          </div>


<p>
  <div id="initMapContactEdit"></div>
</p>
<%= f.button :submit %>
<% end %>
</div>
