<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
      document.addEventListener("DOMContentLoaded", initMapContactEdit);
  </script>
<% end %>

<h1 class="text-center">
  Edit <%= @contact.full_name %>
</h1>

<div class="container">
  <div class="row mt-4">
    <div class="col-12">

      <%= form_for contact do |f| %>
        <div class="row">
          <div class="col-4">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: 'form-control' %>
          </div>
          <div class="col-4">
            <%= f.label :alias %>
            <%= f.text_field :alias, class: 'form-control' %>
          </div>
          <div class="col-4">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <%= f.label :phone_number %>
            <%= f.text_field :phone_number, class: 'form-control' %>

            <%= f.label :phone_description %>
            <%= f.text_field :phone_description, class: 'form-control', list: 'descriptions' %>
          </div>
          <div class="col">
            <%= f.label :second_phone %>
            <%= f.text_field :second_phone, class: 'form-control' %>

            <%= f.label :second_phone_description %>
            <%= f.text_field :second_phone_description, class: 'form-control', list: 'descriptions' %>
          </div>
          <div class="col">
            <%= f.label :third_phone %>
            <%= f.text_field :third_phone, class: 'form-control' %>

            <%= f.label :third_phone_description %>
            <%= f.text_field :third_phone_description, class: 'form-control', list: 'descriptions' %>
          </div>

          <datalist id="descriptions">
            <% phone_description_options.each do |option| %>
              <option><%= option %></option>
            <% end %>
          </datalist>
        </div>

        <div class="row mt-3">
          <div class="col">
            <%= f.label :email_address %>
            <%= f.text_field :email_address, class: 'form-control' %>
          </div>
          <div class="col">
            <%= f.label :postal_address %>
            <%= f.text_field :postal_address, class: 'form-control' %>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <%= f.label :latitude %>
            <%= f.number_field :latitude, class: 'form-control' %>
          </div>
          <div class="col">
            <%= f.label :longitude %>
            <%= f.number_field :longitude, class: 'form-control'  %>
          </div>
          <div class="col">
            <div><%= f.label :baptism_status, 'Baptized' %></div>
            <div class="form-check form-check-inline">
              <%= f.check_box :baptism_status, class: 'form-check' %>
            </div>
          </div>
          <div class="col">
            <div><%= f.label :gender %></div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :gender, 'Male', class: 'form-check-input' %>
              <label class="form-check-label">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :gender, 'Female', class: 'form-check-input' %>
              <label class="form-check-label">Female</label>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <%= f.label :birth_date %>
            <%= f.date_select :birth_date, {start_year: Date.today.year - 90,
                end_year: Date.today.year, use_month_numbers: true,
                prompt: { day: 'Select day', month: 'Select month', year: 'Select year' },
                order: [:day, :month, :year]}, class: 'custom-select' %>
          </div>
          <div class="col">
            <%= f.label :ecclesium, 'Ecclesia' %>
            <%= f.select :ecclesium, ecclesia.map { |e| [e.name, e.id] }, {}, class: 'custom-select' %>
          </div>
          <div class="col">
            <div class="custom-file">
              <%= f.file_field :avatar, label: 'Profile Pic', class: 'custom-file-input' %>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col"
            <%= f.label :notes %>
            <%= f.text_area :notes, class: 'form-control' %>
          </div>
        </div>

        <%= f.button 'Submit', class: 'mt-5 btn btn-primary btn-block' %>

      <% end %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <div id="initMapContactEdit"></div>
    </div>
  </div>

</div>
