<div class="row">
  <div class="col-12 member-info">

    <% contacts.each do |contact| %>
    <div class="row member-info-row">
      <div class="col-sm-3 member-info-label align-self-top">
        <%= link_to contact.full_name, contact %>
      </div>
      <div class=" col-sm-4 align-self-top">
        <% if contact.phone_number.blank? == false%>
        <div class="d-flex row contact-row">
          <b>
            <%= display_contact_phone_number_description(contact)  %>
          </b>
          <div class="ml-auto">
          <%= display_contact_phone_number(contact) %>
          </div>

        </div>
        <% end %>
        <% if contact.phone_number.blank? == false%>
        <div class="d-flex row contact-row">
          <b>
            <%= display_contact_second_phone_description(contact)  %>
          </b>
          <div class="ml-auto">
          <%= display_contact_second_phone(contact)  %>
          </div>

        </div>
        <% end %>
        <% if contact.phone_number.blank? == false%>
        <div class="d-flex row contact-row">
          <b>
            <%= display_contact_third_phone_description(contact)  %>
          </b>
          <div class="ml-auto">
          <%= display_contact_third_phone(contact)  %>
        </div>

        </div>
        <% end %>

      </div>
      <div class="col-1">

      </div>

      <div class="col-sm-3 align-self-top pl-5">
        <% if contact.postal_address.blank? == false %>
        <div class="row">
          <%= display_contact_postal_address (contact) %>
        </div>
      <% end %>
      <% if contact.email_address.blank? == false %>
        <div class="row">
          <%= mail_to contact.email_address %>
        </div>
      <% end %>

      </div>


    </div>
    <% end %>
  </div>

</div>
