<% provide :head_tags do %>
<script>
  document.addEventListener("DOMContentLoaded", function(){
    initMapContact(<%=@contactToJson%>)
  });
</script>
<% end %>
<div class="contactDiv">


<div class="profilPic"  style ="background: url(<%= @contact.avatar_url %>); background-position: center; background-repeat: no-repeat;
  background-size: cover;">

</div>
<h1><%= @contact.full_name %></h1>
</div>

<div class="container">
  <div class="row">
  <div class="col-7">
    <div class="container-fluid">
      <div class="row">
      <div class="col-4">

        <div class="row ">
          <h5>Phone Number: </h5>
        </div>
        <div class="row ">
          <h5>Email: </h5>
        </div>
        <div class="row ">
          <h5>Birth Date: </h5>
        </div>
        <div class="row ">
          <h5>Ecclesia: </h5>
        </div>
        <div class="row ">
          <h5>Address: </h5>
        </div>
        <div class="row ">
          <h5>Address Coordinates: </h5>
        </div>
        <div class="row ">
          <h5>Notes: </h5>
        </div>

      </div>
      <div class="col-8">

        <div class="row">
          <%= @contact.phone_number %>
        </div>
        <div class="row ">
          <%= @contact.email_address %>
        </div>
        <div class="row ">
          <%= @contact.birth_date %>
        </div>
        <div class="row ">
          <%= link_to @ecclesium.name, ecclesium_path(@ecclesium) %>
        </div>
        <div class="row ">
          <%= @contact.postal_address %>
        </div>
        <div class="row ">
          <%= @contact.longitude %>, <%= @contact.latitude %>
        </div>
        <div class="row ">
          <%= @contact.notes  %>
        </div>
      </div>
</div>
    </div>

  </div>
  <div class="col-5">
    <div id="contactMap">

    </div>
  </div>
</div>
</div>
