<% provide :head_tags do %>
<script>
  document.addEventListener("DOMContentLoaded", function(){
    initMapContact(<%=@contactToJson%>)
  });
</script>
<% end %>

<div class="container">


  <div class="contactInfoDiv row">

    <div class="col">


      <div class="profilPic"  style ="background: url(<%= @contact.avatar_url %>); background-position: center; background-repeat: no-repeat;
        background-size: cover;">

      </div>
    </div>
    <div class="col-9 contactInfoCol">

      <h3 class="text-center"> <%= @contact.full_name %></h3>

      <div class="row contactInfoRows">
        <div class="col">
          <h5>Email: <%= @contact.email_address %></h5>
        </div>
        <div class="col">
          <h5>Phone Number: <%= @contact.phone_number %></h5>
        </div>
        <div class="col">
          <h5>Birth Date: <%= @contact.birth_date %></h5>
        </div>

      </div>

      <div class="row contactInfoRows">
        <div class="col">
          <h5>Address: <%= @contact.postal_address %></h5>

        </div>
        <div class="col-8">
          <div class="row ">

            <div class="col">
              <% if @ecclesium.name =="none" %>
              <h5>Ecclesia: <%= @ecclesium.name %></h5>
              <% else %>
              <h5>Ecclesia: <%= link_to @ecclesium.name, ecclesium_path(@ecclesium) %></h5>
              <% end %>
            </div>

          </div>
          <div class="row contactInfoRows">
            <div class="col">
              <h5>Location Coordinates: <%= @contact.longitude %>, <%= @contact.latitude %></h5>
            </div>

          </div>
        </div>


      </div>



    </div>

  </div>
  <div class="row mapRow">
    <div class="col removeLeftPadding">
      <div id="contact-map">

      </div>
    </div>
    <div class="col">
      <h3>Notes: </h3>
      <%= @contact.notes  %>
    </div>
  </div>




  <%= link_to "Edit", edit_contact_path(@contact) %>
  <%= link_to "DELETE", @contact, method: :delete %>
  <%= link_to "All Contacts", contacts_path %>


</div>
