<% provide :head_tags do %>
<script>
  document.addEventListener("DOMContentLoaded", function(){
    initMapContact(<%=@contactToJson%>)
  });
</script>
<% end %>

<div class="container">
  <div class="row mt-5">
    <div class="col-12">

      <div class="row mt-2 mb-3">
        <div class="col-12 d-flex align-items-center">
          <div class="profile-pic"  style ="background: url(<%= avatar_url(@contact) %>);"></div>
          <h1 class="ml-5">
            <%= @contact.full_name %>
          </h1>
        </div>
      </div>
      </div>
      <div class="col-7">



      <div class="row">
        <div class="col-12">
          <div class="list-group list-group-flush">
            <div class="row list-group-item d-flex">
              <div class="col-3 text-muted text-right">
                Primary Phone:
              </div>
              <div class="col-9">
                <%= display_contact_phone_number(@contact) %>
              </div>
            </div>
            <div class="row list-group-item d-flex">
              <div class="col-3 text-muted text-right">
                Second Phone:
              </div>
              <div class="col-9">
                <%= display_contact_second_phone(@contact) %>
              </div>
            </div>
            <div class="row list-group-item d-flex">
              <div class="col-3 text-muted text-right">
                 Third Phone:
              </div>
              <div class="col-9">
                <%= display_contact_third_phone(@contact) %>
              </div>
            </div>
            <div class="row list-group-item d-flex">
              <div class="col-3 text-muted text-right">
                Email:
              </div>
              <div class="col-9">
                <%= display_contact_email_address(@contact) %>
              </div>
            </div>
            <div class="row list-group-item d-flex">
              <div class="col-3 text-muted text-right">
                Birthday:
              </div>
              <div class="col-9">
                <%= display_contact_birth_date(@contact)  %>
              </div>
            </div>
            <div class="row list-group-item d-flex">
              <div class="col-3 text-muted text-right">
                Ecclesia:
              </div>
              <div class="col-9">
                <% if @ecclesium.name =="none" %>
                <%= @ecclesium.name %>
                <% else %>
                <%= link_to @ecclesium.name, ecclesium_path(@ecclesium) %>
                <% end %>
              </div>
            </div>
            <div class="row list-group-item d-flex">
              <div class="col-3 text-muted text-right">
                Address:
              </div>
              <div class="col-9">
                <%= display_contact_postal_address(@contact)   %>
              </div>
            </div>
            <div class="row list-group-item d-flex">
              <div class="col-3 text-muted text-right">
                Coordinates:
              </div>
              <div class="col-9">
                <%= display_contact_coordinates(@contact) %>
              </div>
            </div>
            <div class="row list-group-item d-flex">
              <div class="col-3 text-muted text-right">
                Notes:
              </div>
              <div class="col-9">
                <%= display_contact_notes(@contact)   %>
              </div>
            </div>
            <div class="row list-group-item d-flex">
              <div class="col-3 ">

              </div>
              <div class="col-9">
                <div class="row">
                  <%= button_to "Edit", edit_contact_path(@contact), method: :get, class: "mr-3 btn btn-secondary" %>
                  <%= button_to "Delete", @contact, method: :delete, class: "btn btn-danger" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-5">
      <div id="contact-map" class = "ml-4 "></div>
    </div>

  </div>
</div>
