<% provide :head_tags do %>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%=@contact.latitude%>, <%=@contact.longitude%>)
    });
    </script>
<% end %>
<h1> Contact Information: </h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Alias</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Birth Date</th>
      <th>Baptized</th>
      <th>Ecclesia</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @contact.first_name %></td>
        <td><%= @contact.last_name %></td>
        <td><%= @contact.alias %></td>
        <td><%= @contact.email_address %></td>
        <td><%= @contact.phone_number %></td>
        <td><%= @contact.birth_date %></td>
        <% if @contact.baptism_status %>
          <td>YES</td>
        <% else %>
          <td>NO</td>
        <% end %>
        <% if @ecclesium.name =="none" %>
        <th><%= @ecclesium.name %></th>
        <% else %>
        <td><%= link_to @ecclesium.name, ecclesium_path(@ecclesium) %></td>
        <% end %>
      </tr>
  </tbody>
<h3>Location: </h3>
<table class="table table-striped">
<thead>
  <tr>
    <th>Address</th>
    <th>Longitude</th>
    <th>Latitude</th>
  </tr>
</thead>
<tbody>
    <tr>
      <td><%= @contact.postal_address %></td>
      <td><%= @contact.longitude %></td>
      <td><%= @contact.latitude %></td>
</tbody>
</table>
<h3>Notes: </h3>
<p><%= @contact.notes  %></p>
<div id="map">

</div>
<%= link_to "Edit", edit_contact_path(@contact) %>
<%= link_to "DELETE", @contact, method: :delete %>
<%= link_to "All Contacts", contacts_path %>
