<% provide :head_tags do %>
<script>
  document.addEventListener("DOMContentLoaded", function(){
    initMapContact(<%=@contactToJson%>)
  });
</script>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-7">

      <div class="row mt-2">
        <div class="col-12 d-flex align-items-center">
          <div class="profile-pic"  style ="background: url(<%= @contact.avatar_url %>);"></div>
          <h1 class="ml-3">
            <%= @contact.full_name %>
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="list-group list-group-flush">
            <div class="list-group-item">
              Phone: <%= @contact.phone_number %>
            </div>
            <div class="list-group-item">
              Email: <%= @contact.email_address %>
            </div>
            <div class="list-group-item">
              Birthday: <%= @contact.birth_date %>
            </div>
            <div class="list-group-item">
              Ecclesia: <%= link_to @ecclesium.name, ecclesium_path(@ecclesium) %>
            </div>
            <div class="list-group-item">
              Address: <%= @contact.postal_address %>
            </div>
            <div class="list-group-item">
              Coordinates: <%= @contact.latitude %>, <%= @contact.longitude %>
            </div>
            <div class="list-group-item">
              Notes: <%= @contact.notes %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-5 mt-4">
      <div id="contact-map"></div>
    </div>

  </div>
</div>
