<div class="row">
  <div class="col-12 member-info">
    <% contacts.each do |contact| %>
    <div class="row member-info-row">
      <div class="col-sm-3 member-info-label align-self-center">
        <small><%= link_to contact.full_name, contact %></small>
      </div>
      <div class="col-6 align-self-center">
        <table class="table table-borderless contact-list-table">
          <tbody>
            <tr class = "contact-row">
              <td>
                <% if contact.phone_number.blank? == false%>
                <div class="row">
                  <%= display_contact_phone_number(contact) %>
                </div>
                <% end %>
              </td>
              <td>
                <% if contact.phone_number.blank? == false%>
                <div class="row">
                  <%= display_contact_phone_number_description(contact)  %>
                </div>
                <% end %>
              </td>
            </tr>
            <tr class = "contact-row">
              <td>
                <% if contact.second_phone.blank? == false %>
                <div class="row">
                  <%= display_contact_second_phone(contact)  %>
                </div>
                <% end %>
              </td>
              <td>
                <% if contact.second_phone.blank? == false %>
                <div class="row">
                  <%= display_contact_second_phone_description(contact)  %>
                </div>
                <% end %>
              </td>
            </tr>
            <tr class = "contact-row">
              <td>
                <% if contact.third_phone.blank? == false %>
                <div class="row">
                  <%= display_contact_third_phone(contact)  %>
                </div>
                <% end %>
              </td>
              <td>
                <% if contact.third_phone.blank? == false %>
                <div class="row">
                  <%= display_contact_third_phone_description(contact)  %>
                </div>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>


      </div>
      <div class="col-3">

      </div>

    </div>
    <% end %>
  </div>

</div>
