  <% if current_user %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand font20 ml-3" href="<%= root_path %>">Jamaican Contacts</a>


  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav nav-fill navbar-w-35  mr-auto ">
      <li class="nav-item active text-center">
        <a class="nav-link font20" href="<%= contacts_path %>">All Contacts <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active text-center ">
        <a class="nav-link font20" href="<%= ecclesia_path %>">All Ecclesias</a>
      </li>
      <li class="nav-item active text-center">
        <%= link_to 'Sign out' , destroy_user_session_path, method: :delete, class: 'nav-link font20' %>
      </li>
    </ul>
    <div class="mr-3">
      <%= form_tag root_path, method: :get do %>
      <%= submit_tag 'Search', placeholder: "Search"  %>
      <%= text_field_tag :search, "", class: 'search-bar-width' %>

      <% end %>
    </div>

  </div>

</nav>
  <% end %>
